body {
    /* for testing purposes: */
  /* background-color: black !important; */
  /* background-color: #fcfcfc !important; */
  /* color: white; */
    /* */
  font-size: 12px;
  letter-spacing: 0.1em;
}

a {
  color: black;
}

.row {
  /* margin-right: 0 !important;
  margin-left: 0 !important; */
}

.container {
  /* padding: 0 !important; */
  width: 100%;
}

.main-container {
  min-height: 800px;
}

.theme-light {
  font-family: "Jura", sans-serif;
  /* options: 300 400 500 600 700 */
  font-weight: 500;
  background-color: #fcfcfc !important;
  color: black;
}

.theme-dark {
  font-family: "Jura", sans-serif;
  /* options: 300 400 500 600 700 */
  font-weight: 500;
  background-color: #000000c7 !important;
  color: #fcfcfc;
}

.logoBackground {
  /* background-color: #f2f2f2; */
  background-color: #fcfcfc;
}

.itally {
  font-style: italic;
}

.biggest {
  font-size: 30px;
}

.bigger {
  font-size: 20px;
}

.big {
  font-size: 18px;
}

.smaller {
  font-size: 12px;
}

.raiseIt {
  margin-top: -1em;
}

.spread {
  letter-spacing: 0.1em;
  font-weight: 600;
}

.minHeight {
  min-height: 20em;
}

.tight {
  letter-spacing: 0em;
}

.fade-half {
  opacity: 0.5;
}

.red-title {
  color: red !important;
  font-size: 18px;
}

.dark-title {
  color: black !important;
  font-size: 15px;
}

.fade-none {
  opacity: 1;
}

.shortLine {
  line-height: 1.0rem;
  max-width: 10em;
}

.white {
  color: white;
}

.black {
  color: black;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

.shadow {
  text-shadow: 5px 5px 5px black;
}

.displayInline {
  /*display: inline-block;*/
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
}

.navbar {
  font-size: 15px;
}

.navbar-toggler-icon {
  padding-top: 5px;
  width: 100%;
  height: 100%;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.borderShadow {
  box-shadow: 1em 1em 3em -1em #333;
}

.projImageShadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.projbox {
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  /* box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2) inset; */
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

 .projbox:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.borderIt {
  border: 1px solid grey;
}

.lightBorder {
  border: 1px solid #e2e2e2;
}

.projtitle {
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(242, 242, 242, 1);
}

.logoinit {
  width: auto;
  height: 100%;
}

.seclogo {
  width: 50vw;
  height: 5em;
}

.miniLogo {
  width: auto;
  height: 10vh;
  position: absolute;
  bottom: 7vh;
  right: 4vw;
}

.landingPic {
  width: 100%;
}

.landingSticky {
  position: sticky;
  top: 0px;
}

.landingText1 {
  text-shadow: 2px 2px black;
  position: absolute;
  left: 50vw;
}

.landingText2 {
  text-shadow: 2px 2px black;
  position: absolute;
  top: 25vh;
  left: 50vw;
}

.topRight {
  position: absolute;
  top: 0em;
  right: 1em;
}

.bgcover {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.projIndimg {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.projimg {
  width: 90%;
  /* background-color: #f2f2f2; */
  background-color: #fcfcfc;
  height: 9rem;
  object-fit: cover;
  max-width: 12em;
  /* padding: 3px; */
}

/* .projbox {
  width: 100%;
} */

.buttonGen {
  padding: 30px;
}

.badge {
  font-size: 100% !important;
  margin: 0.5em;
}

.navbar-toggler-icon {
  min-width: 4.5em;
}

.imgAddConfirm {
  width: 75%;
  max-width: 200px;
  margin-bottom: 20px;
}

.padtopshort {
  margin-top: 5px;
}
/* 
.padtop {
  margin-top: 10px;
}

.padtop2 {
  margin-top: 20px;
}

.padtop3 {
  margin-top: 50px;
}

.nopadbottom {
  padding-bottom: 0em !important;
}

.padbottom {
  margin-bottom: 20px;
}

.padbottom2 {
  margin-bottom: 30px;
}

.padInsides {
  padding: 20px;
}

.padsides {
  margin-right: 10px;
  margin-left: 10px;
} */

.overflows {
  overflow: hidden;
}

.fullSize {
  width: 100%;
}

li {
  padding: 0 15px;
}

.uppercase {
  text-transform: uppercase;
}

.hideit {
  display: none;
}

.squeeze {
  padding-left: 20px;
  padding-right: 20px;
}
