body {
  font-size: 12px;
  letter-spacing: 0.1em;
}

a {
  color: black;
}

.test-left-container {
  background-color: red;
  min-height: 800px;
}

.container {
  width: 100%;
}

@media (max-width: 480px) {
  .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .pad-top-resp {
    padding-top: 0 !important;
  }
}

.main-container {
  min-height: 100vh;
}

.all-themes {
  font-family: "Jura", sans-serif;
  /* options: 300 400 500 600 700 */
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.theme-light {
  background-color: #fcfcfc !important;
  color: black;
  min-height: 100vh;
}

.theme-dark {
  background-color: #000000c7 !important;
  color: #fcfcfc;
  min-height: 100vh;
  border: 2px solid #ff00009e;
}

.theme-soft {
  background-color: #8FC1E3 !important;
  color: black;
  min-height: 100vh;
  border: 2px solid #31708E;
}

.logoBackground {
  background-color: #fcfcfc;
}

.pad-top-resp {
  padding-top: 1rem;
}

/* @media (min-width: 480px) { */
  /* .pad-top-resp {
    padding-top: 1rem;
  } */
/* } */

.itally {
  font-style: italic;
}

.big {
  font-size: 18px;
}

.bigger {
  font-size: 20px;
}

.biggest {
  font-size: 30px;
}

.smaller {
  font-size: 12px;
}

.raiseIt {
  margin-top: -1em;
}

.spread {
  letter-spacing: 0.1em;
  font-weight: 600;
}

.tight {
  letter-spacing: 0em;
}

.fade-half {
  opacity: 0.5;
}

.fade-none {
  opacity: 1;
}

.red-title {
  color: red !important;
  font-size: 18px;
}

.dark-title {
  color: black !important;
  font-size: 15px;
}

.shortLine {
  line-height: 1rem;
  max-width: 10em;
}

.white {
  color: white;
}

.black {
  color: black;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

.displayInline {
  /*display: inline-block;*/
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
}

.navbar {
  font-size: 15px;
  padding: 0 !important;
}

.navbar-toggler-icon {
  padding-top: 5px;
  width: 100%;
  min-width: 4.5em;
  height: 100%;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.borderShadow {
  box-shadow: 1em 1em 3em -1em #333;
}

.projImageShadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.projbox {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.projbox:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.borderIt {
  border: 1px solid grey;
}

.lightBorder {
  border: 1px solid #e2e2e2;
}

.projtitle {
  padding-bottom: 10px;
  /* border-bottom: 2px solid rgba(242, 242, 242, 1); */
  border-bottom: 1px solid #808080bd;
}

.logoinit {
  width: auto;
  height: 100%;
}

.seclogo {
  width: 50vw;
  height: 5em;
}

.miniLogo {
  width: auto;
  height: 10vh;
  position: absolute;
  bottom: 7vh;
  right: 4vw;
}

.landingPic {
  width: 100%;
}

.landingSticky {
  position: sticky;
  top: 0px;
}

.landingText1 {
  text-shadow: 2px 2px black;
  position: absolute;
  left: 50vw;
}

.landingText2 {
  text-shadow: 2px 2px black;
  position: absolute;
  top: 25vh;
  left: 50vw;
}

.topRight {
  position: absolute;
  top: 0em;
  right: 1em;
}

.projIndimg {
  width: 100%;
  /* margin-bottom: 30px; */
  position: relative;
}

.projimg {
  width: 90%;
  background-color: #fcfcfc;
  height: 9rem;
  object-fit: cover;
  max-width: 12em;
}

.badge {
  font-size: 100% !important;
  margin: 0.5em;
}

.imgAddConfirm {
  width: 75%;
  max-width: 200px;
  margin-bottom: 20px;
}
